:root{
    --yellow: #FFB927;
    --orange: #FF501C;
    --pink: #FF1164;
    --purple: #8221E6;
    --blue: #3d74fb;
  }

.home{
    background-color: var(--purple);
    height: 600px;
}

.container{
    text-align: center;
    padding-top: 02rem;
}

.container img{
    width: 300px;
}

.container h2{
    font-size: 30px;
    color: white;
}

.container p{
    font-size: 18px;
    color: white;
    margin: 2rem;
}

.container ul li{
    display: inline-block;
}

.container ul li a{
    color: white;
    margin: 2rem;
    font-size: 20px;
}

.container ul li a:hover{
    color: var(--orange);
}